body {
    background-color: #855a25;
    height: 100vh;
}
.logo1 {
    position: fixed;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 0;
    margin: 0;
    margin-top: -40px;
}
.barra-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 92px;
    background-color: green;
    z-index: 1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
.coisas-container {
    display: flex;
    flex-wrap: wrap;        
    justify-content: center;
    gap: 20px;
    padding: 20px;      
}
main {
    padding-top: 80px;
}
.logo1 img {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: -40px;
}
.todos {
    background-color: rgb(255, 255, 255);
    border: 1px solid coral;
    width: 180px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.coisas-container {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    gap: 20px;
    padding: 20px;          
}
.todos img {
    width: 90%;
}
.todos p {
    margin-top: 5px;
    font-family: "Press Start 2P", system-ui;
    font-size: 8px;
}
.todos:hover {
    transform: scale(1.5);
}
